<html>
	<head>
		<title>search engine</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
  			<div class="jumbotron">
				<h1>Reference Search Engine: </h1>
			</div>
			<a href="/">Home</a>
		<hr>
		{% block content %}{% endblock %}
	</div>
	</body>

</html>
